<p class="inherited">
  <table border="1" width="100%">
  <% inherited_meths_by_class do |klass, meths| %>
    <tr background="#ddddff">
      <th><%= visibility.to_s.capitalize %> <%= scope.to_s.capitalize %> Methods inherited from <%= linkify klass %></th>
    </tr>
    <tr>
      <td><%= format_object_name_list meths %></td>
    </tr>
  <% end %>
  </table>
</p>
