<% unless (output = yield(object)).empty? -%>
  <div class="section <%= generator_name %> <%= visibility %>">
    <h2><%= visibility.to_s.capitalize %> Visibility</h2>
    <%= output %>
  </div>
<% end -%>