<div class="section <%= generator_name %>">
  <h1>Dynamic Method Handling</h1>

  <p class="note"><em>
    This class handles dynamic methods through the <tt>method_missing</tt> method
    <% if method_missing_method_inherited? %>
      in the class <%= linkify method_missing_method.namespace.path %>
    <% end %>
  </em></p>

  <%= yield method_missing_method %>
</div>