--protected
--no-private
--embed-mixin ClassMethods
--exclude /server/templates/
--exclude /yard/rubygems/
--asset docs/images:images
--type-name-tag yard.tag:"YARD Tag"
--type-name-tag yard.directive:"YARD Directive"
--hide-tag yard.tag
--hide-tag yard.directive
--load ./docs/templates.rb
-
docs/WhatsNew.md
docs/GettingStarted.md
docs/Overview.md
docs/CodeObjects.md
docs/Tags.md
docs/Parser.md
docs/Handlers.md
docs/Templates.md
docs/Glossary.md
ChangeLog
LICENSE
LEGAL
