<% scopes(method_listing) do |list, scope| %>
  <h2><%= scope.to_s.capitalize %> Method Summary</h2>

  <ul class="summary">
    <% list.each do |meth| %>
      <%= yieldall :item => meth %>
    <% end %>
  </ul>
<% end %>