<div class='<%=generator_name %>'>
  <h2>Method Signature</h2>
  <div class='def'>
    <span class='visibiliy'><%= object.visibility %></span>
    <span class='return_types'><%= format_return_types object %></span>
    <span class='name_args'><%= format_def object %></span>
  </div>
</div>
