<div class="section <%= generator_name %>">
  <h2>Deprecated Warning</h2>
  <p>
    This <%= object.type %> is deprecated<%= object.tag(:deprecated).text ? ": " + object.tag(:deprecated).text : "" %>.
  </p>
</div>

