<div class="section class A">
  <h1 class="title">Class: A</h1><p class="files">
  Defined in: <span class='file'>(stdin)</span>
</p><div class="section inheritance">
  <ul>
  <li>B</li><ul><li>A</li>
  </ul></ul>
</div><div class="docstring">
  Comments
</div><div class="tags">
  <div class="author">
  <h3>Author:</h3>
  <dl>
  
    <dt>
      
      
      
    </dt>
    <dd>
      <span class='desc'>Test</span>
    </dd>
  
  </dl>
</div>
<div class="version">
  <h3>Version:</h3>
  <dl>
  
    <dt>
      
      
      
    </dt>
    <dd>
      <span class='desc'>1.0</span>
    </dd>
  
  </dl>
</div>
<div class="see">
  <h3>See Also:</h3>
  <dl>
    <dt></dt>
    <dd>
      <span class='desc'>
        <tt>A</tt>, <tt><a href="http://example.com" title="Example">Example</a></tt>
      </span>
    </dd>
  </dl>
</div>
</div><div class="section methodmissing">
  <h2>Dynamic Method Handling</h2>

  <p class="note">
    This class handles dynamic methods through the <tt>method_missing</tt> method
    
  </p>

  <div id="method_missing-instance_method" class="section method">
  <div class="details_title">
    <div class='section signature'>
    <tt class='def'>
      <span class='visibility'>public</span>
      <span class='return_types'></span>
      <span class='name'>method_missing</span><span class='args'>(*args)</span>
      <span class='block'></span>
    </tt>
  </div>

</div><div class="docstring">
  HI
</div><div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="source_code" style="display: none">
    <table>
      <tr>
        <td>
          <pre class="lines">


9</pre>
        </td>
        <td>
          <pre class="code"><span class="info file"># File '(stdin)', line 9</span>

<span class='kw'>def</span> <span class='id method_missing'>method_missing</span><span class='lparen'>(</span><span class='op'>*</span><span class='id args'>args</span><span class='rparen'>)</span> <span class='kw'>end</span></pre>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
</div><div class="section methodsummary">
  <ul>
  <li>
    #a
    
    
  </li>
  <li>
    #b
    
    
  </li>
</ul>

</div><div class="section methoddetails">
    <div id="a-instance_method" class="section method">
  <div class="details_title">
    <div class='section signature'>
    <tt class='def'>
      <span class='visibility'>public</span>
      <span class='return_types'></span>
      <span class='name'>a</span><span class='args'></span>
      <span class='block'></span>
    </tt>
  </div>

</div><div class="docstring">
  
</div><div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="source_code" style="display: none">
    <table>
      <tr>
        <td>
          <pre class="lines">


10</pre>
        </td>
        <td>
          <pre class="code"><span class="info file"># File '(stdin)', line 10</span>

<span class='kw'>def</span> <span class='id a'>a</span><span class='semicolon'>;</span> <span class='kw'>end</span></pre>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
  <div id="b-instance_method" class="section method">
  <div class="details_title">
    <div class='section signature'>
    <tt class='def'>
      <span class='visibility'>public</span>
      <span class='return_types'></span>
      <span class='name'>b</span><span class='args'></span>
      <span class='block'></span>
    </tt>
  </div>

</div><div class="docstring">
  
</div><div class="section source">
  <span>[<a class="source_link" href="#">View source</a>]</span>
  <div class="source_code" style="display: none">
    <table>
      <tr>
        <td>
          <pre class="lines">


11</pre>
        </td>
        <td>
          <pre class="code"><span class="info file"># File '(stdin)', line 11</span>

<span class='kw'>def</span> <span class='id b'>b</span><span class='semicolon'>;</span> <span class='kw'>end</span></pre>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>

</div>
</div>