<h1>Method: #m</h1>
<dl class="box">
  <dt class="r1 last">Defined in:</dt>
  <dd class="r1 last">
    (stdin)
  </dd>
</dl>
<div class="clear"></div>

<div id="method_details">
  <div class="method_details">
  <p class="signature first" id="m-instance_method">
  
    - (String) m(x)  <span class="extras">(private)</span>
  

  
    <span class="aliases">Also known as:
    <span class="names">x</span>
    </span>
  
</p><div class="docstring">
  <div class="discussion">
    <p><strong>Deprecated.</strong> for great justice</p>
  Comments

  </div>
</div>
<div class="tags">
  <h3>Parameters:</h3>
<ul class="param">
  
    <li>
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
        <span class='name'>x</span>
      
      
      
        &mdash;
        the x argument
      
    </li>
  
</ul>
<h3>Returns:</h3>
<ul class="return">
  
    <li>
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
      
        &mdash;
        the result
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


6</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File '(stdin)', line 6</span>

<span class='kw'>def</span> <span class='id m'>m</span><span class='lparen'>(</span><span class='id x'>x</span><span class='rparen'>)</span> <span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
</div>
