<h1>Method: #m</h1>
<dl class="box">
  <dt class="r1 last">Defined in:</dt>
  <dd class="r1 last">
    (stdin)
  </dd>
</dl>
<div class="clear"></div>

<div class="method_details_list">
<div id="method_details">
  <div class="method_details first">
  <p class="signature first" id="m-instance_method">
  
    - (<tt>String</tt>) <strong>m</strong>(x)  <span class="extras">(private)</span>
  

  
    <span class="aliases">Also known as:
    <span class="names"><span id='x-instance_method'>x</span></span>
    </span>
  
</p><div class="docstring">
  <div class="discussion">
    <p class="note deprecated"><strong>Deprecated.</strong> for great justice</p>
Comments

  </div>
</div>
<div class="tags">
  <h3>Parameters:</h3>
<ul class="param">
  
    <li>
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
        <span class='name'>x</span>
      
      
      
        &mdash;
        the x argument
      
    </li>
  
</ul>
<h3>Returns:</h3>
<ul class="return">
  
    <li>
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
      
      
        &mdash;
        the result
      
    </li>
  
</ul>
<h3>Raises:</h3>
<ul class="raise">
  
    <li>
      
        <span class='type'>(<tt>Exception</tt>)</span>
      
      
      
      
        &mdash;
        hi!
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


7</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File '(stdin)', line 7</span>

def m(x) end</pre>
    </td>
  </tr>
</table>
</div>
</div>
</div>