<div id="m-instance_method" class="section method"> 
  <div class="details_title"> 
    <div class='section signature'> 
      <tt class='def'> 
        <span class='visibility'>private</span> 
        <span class='return_types'></span> 
        <span class='name'>m</span><span class='args'>(*args)</span> 
        <span class='block'></span> 
      </tt> 
    </div> 
  </div>
  <div class="docstring">Method comments</div>
  <div class="tags"></div>
  <div id="m-instance_method_overload2" class="section method overload"> 
    <div class="details_title"> 
      <div class='section signature'> 
        <tt class='def'> 
          <span class='return_types'></span> 
          <span class='name'>m</span><span class='args'>(x, y)</span> 
          <span class='block'></span> 
        </tt> 
      </div> 
    </div>
    <div class="docstring">Overload docstring</div>
    <div class="tags">
      <div class="param">
        <h3>Parameters:</h3> 
        <dl> 
          <dt> 
            <span class='type'>[<tt>String</tt>]</span> 
            <span class='name'>x</span> 
          </dt>
          <dd><span class='desc'>parameter x</span></dd> 
          <dt> 
            <span class='type'>[<tt>Boolean</tt>]</span> 
            <span class='name'>y</span> 
          </dt>
          <dd><span class='desc'>parameter y</span></dd> 
        </dl> 
      </div>
    </div>
  </div>
  <div id="m-instance_method_overload3" class="section method overload"> 
    <div class="details_title"> 
      <div class='section signature'> 
        <tt class='def'> 
          <span class='return_types'></span> 
          <span class='name'>m</span><span class='args'>(x, y, z)</span> 
          <span class='block'></span> 
        </tt> 
      </div> 
    </div>
    <div class="docstring"></div>
    <div class="tags">
      <div class="param">
        <h3>Parameters:</h3> 
        <dl> 
          <dt> 
            <span class='type'>[<tt>String</tt>]</span> 
            <span class='name'>x</span> 
          </dt>
          <dd><span class='desc'>parameter x</span></dd> 
          <dt> 
            <span class='type'>[<tt>Boolean</tt>]</span> 
            <span class='name'>y</span> 
          </dt>
          <dd><span class='desc'>parameter y</span></dd> 
          <dt> 
            <span class='type'>[<tt>Boolean</tt>]</span> 
            <span class='name'>z</span> 
          </dt>
          <dd><span class='desc'>parameter z</span></dd> 
        </dl> 
      </div>
    </div>
  </div>
  <div class="section source"> 
    <span>[<a class="source_link" href="#">View source</a>]</span> 
    <div class="source_code" style="display: none"> 
      <table> 
        <tr> 
          <td><pre class="lines">11</pre></td> 
          <td><pre class="code"><span class="info file"># File '(stdin)', line 11</span> 
          <span class='kw'>def</span> <span class='id m'>m</span>
          <span class='lparen'>(</span><span class='op'>*</span>
          <span class='id args'>args</span>
          <span class='rparen'>)</span> <span class='kw'>end</span></pre></td> 
        </tr> 
      </table> 
    </div> 
  </div> 
</div>