<h1>Method: #m</h1>
<dl class="box">
  <dt class="r1 last">Defined in:</dt>
  <dd class="r1 last">
    (stdin)
  </dd>
</dl>
<div class="clear"></div>

<div id="method_details">
  <div class="method_details">
  <p class="signature first" id="m-instance_method">
  
    - (Object) m(x, y)  <span class="extras">(private)</span>
  

  
</p><div class="docstring">
  <div class="discussion">
      Comments

  </div>
</div>
<div class="tags">
    <h3>Overloads:</h3>
  <ul class="overload">
    
      <li class="overload_item">
        <span class="signature">- (Object) m(x, y)  <span class="extras">(private)</span></span>
        <h3>Parameters:</h3>
<ul class="param">
  
    <li>
      
        <span class='type'>(<tt>String</tt>)</span>
      
      
        <span class='name'>x</span>
      
      
      
        &mdash;
        parameter x
      
    </li>
  
    <li>
      
        <span class='type'>(<tt>Boolean</tt>)</span>
      
      
        <span class='name'>y</span>
      
      
      
        &mdash;
        parameter y
      
    </li>
  
</ul>

      </li>
    
  </ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


6</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File '(stdin)', line 6</span>

<span class='kw'>def</span> <span class='id m'>m</span><span class='lparen'>(</span><span class='id x'>x</span><span class='rparen'>)</span> <span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
</div>
