<h1>Module: A</h1>
<dl class="box">
  
  
    
      <dt class="r1">Includes:</dt>
      <dd class="r1">B</dd>
      
    
  
    
  
  
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">(stdin)</dd>
  
</dl>
<div class="clear"></div>

<h2>Overview</h2><div class="docstring">
  <div class="discussion">
      Comments

  </div>
</div>
<div class="tags">
  
</div><h2>Defined Under Namespace</h2>
<p class="children">
   
    
      <strong class="modules">Modules:</strong> Z
    
   
    
      <strong class="classes">Classes:</strong> Q, X, Y
    
  
</p>
  <h2>Attribute Summary</h2>
  <ul class="summary">
    
      <li class="public ">- (Object) attr1 
        
          <span class="summary_desc">Returns the value of attribute +attr1+.</span>
        
      </li>
    
      <li class="public ">- (Object) attr2  <span class="extras">(readonly)</span>
        
          <span class="summary_desc">Returns the value of attribute +attr2+.</span>
        
      </li>
    
  </ul>
  <h2>Method Summary</h2>
  <ul class="summary">
    
      <li class="public ">
        + (Object) a 
        
        
        
      </li>
    
      <li class="public ">
        - (Object) a 
        
        (also: #b)
        
        
        
      </li>
    
  </ul>
  
  
  
  
  
  <h3 class="inherited">Methods included from B</h3>
  <p class="inherited">#c, #d</p>
  <div id="attr_details">
    <h2>Attribute Details</h2>
    
      
      <span id="attr1=-instance_method"></span>
      <span id="attr1-instance_method"></span>
      <div class="method_details">
  <p class="signature first" id="attr1-instance_method">
  
    - (Object) attr1 
  

  
</p><div class="docstring">
  <div class="discussion">
      Returns the value of attribute +attr1+

  </div>
</div>
<div class="tags">
  
</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


8
9
10</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File '(stdin)', line 8</span>

def attr1
  @attr1
end</pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id=""></span>
      <span id="attr2-instance_method"></span>
      <div class="method_details">
  <p class="signature " id="attr2-instance_method">
  
    - (Object) attr2  <span class="extras">(readonly)</span>
  

  
</p><div class="docstring">
  <div class="discussion">
      Returns the value of attribute +attr2+

  </div>
</div>
<div class="tags">
  
</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


9
10
11</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File '(stdin)', line 9</span>

def attr2
  @attr2
end</pre>
    </td>
  </tr>
</table>
</div>
    
  </div>
  <div id="method_details">
    <h2>Method Details</h2>
    
      <div class="method_details">
  <p class="signature first" id="a-class_method">
  
    + (Object) a 
  

  
</p><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


11</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File '(stdin)', line 11</span>

def self.a; end</pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details">
  <p class="signature " id="a-instance_method">
  
    - (Object) a 
  

  
    <span class="aliases">Also known as:
    <span class="names">b</span>
    </span>
  
</p><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File '(stdin)', line 12</span>

def a; end</pre>
    </td>
  </tr>
</table>
</div>
    
  </div>
