<h1>Module: A
  
  
  
</h1>
<div class="box_info">
  

  
  
  
  
  

  

  
  <dl>
    <dt>Defined in:</dt>
    <dd>(stdin)</dd>
  </dl>
  
</div>

<h2>Overview</h2><div class="docstring">
  <div class="discussion">
    Checkout BAR

  </div>
</div>
<div class="tags">
  

</div>
  
    <h2>
      Constant Summary
      <small><a href="#" class="constants_summary_toggle">collapse</a></small>
    </h2>

    <dl class="constants">
      
        <dt id="FOO-constant" class="">FOO =
          
        </dt>
        <dd><pre class="code">1</pre></dd>
      
        <dt id="BAR-constant" class="">BAR =
          
        </dt>
        <dd>FOO</dd>
      
    </dl>

