<div class="section constructor">
<h2>Constructor Summary</h2>
<% if constructor_method_inherited? %>
  <p class="inherited_msg">
    This class inherits a constructor from <%= linkify constructor_method, constructor_method.namespace.path %>.
  </p>
<% else %>
  <%= yield :object => constructor_method %>
<% end %>
</div>