/* Canvas */
.docstring pre, .source_code { border: 1px solid #888; border-collapse: separate; padding: 0 12px; margin-top: 8px; font-size: 0.9em; overflow-x: auto; }
.source_code pre.lines { margin-right: 20px; text-align: right; color: #555; }
.docstring pre { padding: 12px; padding-left: 0; }

/* Token colours. Borrowed from pastie.org's "Blackboard" theme */
pre.code, pre.lines { font-family: Monaco, Courier, monospace; }
pre.code { color: #000; }
pre.code .info.file { color: #555; }
pre.code .val { color: #854466; }
pre.code .dstring { color: #854466; }
pre.code .fid, pre.code .id.new, pre.code .id.to_s, 
pre.code .id.to_sym, pre.code .id.to_f, 
pre.code .dot + pre.code .id,
pre.code .id.to_i pre.code .id.each { color: #0085FF; }
pre.code .comment { color: #222222; }
pre.code .constant, pre.code .symbol { color: #150522; }
pre.code .kw { color: #0825D6; }
pre.code .ivar { color: #443314; }
pre.code .gvar, pre.code .id.nth_ref { color: #231500; }
pre.code .regexp, .dregexp { color: #113302; }