<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <%= render :html_head %>
    <title>All Modules / Classes</title>
    <base target="main" />
  </head>
  <body>
    <div id="nav" class="namespaces">
      <h1>All Modules / Classes</h1>
      <ul>
      <% for obj in YARD::Registry.all(:module, :class).sort_by {|o| o.path } -%>
        <li><%= linkify(obj) %> <em>(<%= obj.type %>)</em></li>
      <% end -%>
      </ul>
    </div>
  </body>
</html>
