<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="<%= url_for(css_file) %>" type="text/css" charset="utf-8" />
    <title>All Modules / Classes</title>
    <base target="main" />
  </head>
  <body>
    <div id="nav" class="namespaces">
      <h1>All Modules / Classes</h1>
      <ul>
      <% for obj in YARD::Registry.all(:module, :class).sort_by {|o| o.path } -%>
        <li><%= linkify(obj) %> <em>(<%= obj.type %>)</em></li>
      <% end -%>
      </ul>
    </div>
  </body>
</html>
