<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <%= render :html_head %>
    <title><%= filename %></title>
  </head>
  <body>
    <div id="content">
      <div class="section docstring readme">
        <%= htmlify @contents, markup_for(filename) %>
      </div>
    </div>
  </body>
</html>