<div id="yard_info">
  Generated on <%= Time.now.strftime("%A, %B %d %Y at %r") %> by 
  <abbr class="yard" title="Yay! A Ruby Documentation Tool"><a href="http://yard.soen.ca">YARD</a></abbr> 
  <%= YARD::VERSION %> (ruby-<%= RUBY_VERSION %>).
</div>
