<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="<%= url_for(css_file) %>" type="text/css" charset="utf-8" />
    <title>README</title>
  </head>
  <body>
    <div id="content">
      <div class="section docstring readme">
        <%= htmlify @contents %>
      </div>
    </div>
  </body>
</html>