body { font-family: Myriad, Helvetica, Arial, Verdana, sans-serif; font-size: 10pt; }
#nav ul { list-style: none; padding: 0; margin: 0; }
#nav ul li { white-space: nowrap; }
#nav li em { font-size: 0.9em; color: #999; }
#content h1 { border-top: 1px solid #ccc; padding-top: 7px; }
.section.module h1.title, .section.class h1.title { background: #ddd; border: 1px solid #ccc; padding: 7px; margin: 0; margin-bottom: 7px; }
.section.source pre { display: none; }
#initialize-instance_method .methodsignature .return_types { display: none; }
.methodsignature .visibility { display: none; }
.methodsignature .name { font-weight: bold; }
.methoddetails .method_header h3 { display: none; }
.section.method { background: #eee; margin-bottom: 0.8em; }
.section.tags,.section.docstring,.section.source { padding: 5px 12px; }
.section.method .details_title { font-size: 1.1em; background: #dde; padding: 7px; }
.section.method .details_title p.aliases { padding: 0; margin: 0; font-style: italic; font-size: 0.9em; }
.section.method .details_title p.aliases tt { font-weight: bold; font-style: normal; font-size: 1.1em; }
.section.constants dl { font-family: monospace; }
.section.constants dt { font-weight: bold; font-size: 1.1em; }
.section.constants dt:after { content: " = "; }
.section.constants dd { margin-bottom: 1em; }
.section.source .source_link { font-size: 0.9em; }
.section.attributes table { padding: 0; width: 100%; }
.section.attributes .readwrite { width: 5%; }
.section.attributes .name { font-weight: bold; width: 10%; }
.section.attributes .visibility { font-style: italic; color: #666; width: 5%; }
.section.attributes td, .section.attributes th { vertical-align: top; padding: 5px; }
.section.attributes th { padding-left: 0; text-align: left; }
.section.attributes .docstring p.returns { color: #555; font-style: italic; }
.section.attributes .docstring .return_types { font-style: normal; }
.section.attributes .docstring { width: 80%; }
.section.attributes .docstring * { display: inline; }
.section.inheritance ul { list-style: none; padding-left: 1em; font-size: 1.1em; }
.section.inheritance ul li { line-height: 1.5em }
.section.inheritance ul:first-child {  padding-left: 1em; }
.section.methodsummary td, .section.methodsummary th { vertical-align: top; padding: 5px; }
.section.methodsummary th { padding-left: 0; text-align: left; white-space: nowrap; }
.section.methodsummary .signature { font-family: monospace; font-weight: normal; }
.section.methodsummary .signature .name { font-weight: bold; }
.section.methodsummary .docstring { width: 80%; }
.section.methodsummary .docstring * { display: inline; }
.section.methodsummary .docstring p.returns { color: #555; font-style: italic; }
.section.methodsummary .docstring .return_types { font-style: normal; }
.section.tags div { clear: both; }
.section.tags h2 { display: none; }
.section.tags h3 { font-size: 1.0em; margin-top: 3px; }
.section.tags dl { margin-left: 2em; }
.section.methodmissing p.note { font-style: italic; }
.section.constructor p.inherited_msg { font-style: italic; }
.included h1, .inherited h1 { font-size: 1.1em; border: 0; margin: 0; padding: 5px; border-bottom: 1px solid #ccc; }
.included div, .inherited div { color: #444; margin: 1.5em 0; width: 500px; border: 1px solid #ccc; }
.included p .name, .inherited p .name { font-family: monospace; }
.included p, .inherited p { padding: 0 7px; }