body { font-family: Myriad, Helvetica, Arial, Verdana, sans-serif; font-size: 10pt; }
#nav ul { list-style: none; padding: 0; margin: 0; }
#nav ul li { white-space: nowrap; }
#nav li em { font-size: 0.9em; color: #999; }
#nav h1 { font-size: 1.2em; }
h1 { font-size: 1.5em; background: #eee; color: #000; padding: 3px; text-decoration: none; }
h2 { font-size: 1.2em; background: #eef; color: #000; padding: 3px; text-decoration: none; }
h3 { font-size: 1.0em; }
.clear { clear: both; }
.section.module h1.title, .section.class h1.title, .section.readme h1 { color: #000; background: #ddd; border: 1px solid #ccc; padding: 7px; margin: 0; margin-bottom: 7px; }
.section.class h1.title { border-bottom: 0; margin-bottom: 0; }
.section.class > .section.docstring, .section.module > .section.docstring { padding: 0; }
#initialize-instance_method .methodsignature .return_types { display: none; }
.methodsignature .visibility { display: none; }
.methodsignature .name { font-weight: bold; }
.methoddetails .method_header h3 { display: none; }
.section.method { background: #eee; margin-bottom: 0.8em; }
.section.tags,.section.docstring,.section.source { padding: 5px 12px; }
.section.method .details_title { font-size: 1.1em; background: #dde; padding: 7px; }
.section.method .details_title p.aliases { padding: 0; margin: 0; font-style: italic; font-size: 0.9em; }
.section.method .details_title p.aliases tt { font-weight: bold; font-style: normal; font-size: 1.1em; }
.section.constants dl { font-family: monospace; }
.section.constants dt { font-weight: bold; font-size: 1.1em; }
.section.constants dt:after { content: " = "; }
.section.constants dd { margin-bottom: 1em; }
.section.source .source_link { font-size: 0.9em; }
.section.source .source_code { display: none; }
/*.section.source .source_code pre { float: left; }*/
.section.attributes table { padding: 0; width: 100%; }
.section.attributes .readwrite { width: 5%; }
.section.attributes .name { font-weight: bold; width: 10%; }
.section.attributes .visibility { font-style: italic; color: #666; width: 5%; }
.section.attributes td, .section.attributes th { vertical-align: top; padding: 5px; }
.section.attributes th { padding-left: 0; text-align: left; }
.section.attributes .docstring p.returns { color: #555; font-style: italic; }
.section.attributes .docstring .return_types { font-style: normal; }
.section.attributes .docstring { width: 80%; }
.section.attributes .docstring * { display: inline; }
.section.inheritance { background: #ddd; padding: 5px; border: 1px solid #ccc; border-top: 0; }
.section.inheritance ul { list-style: none; padding-left: 2.2em; margin: 0; }
.section.inheritance ul li { line-height: 1.2em; }
.section.inheritance ul li:before { content: "↳ "; }
.section.inheritance > ul { padding-left: 5px; }
.section.inheritance > ul > li:before { content: ""; }
.section.inheritance > ul > ul { padding-left: 1em; }
.section.methodsummary table { width: 100%; }
.section.methodsummary td, .section.methodsummary th { background: #eee; vertical-align: top; padding: 5px; }
.section.methodsummary th { background: #dde; text-align: left; white-space: nowrap; padding-right: 12px; }
.section.methodsummary .signature { font-family: monospace; font-weight: normal; }
.section.methodsummary .signature .name { font-weight: bold; }
.section.methodsummary .signature .alias { display: block; }
.section.methodsummary .docstring { width: 80%; }
.section.methodsummary .docstring * { display: inline; }
.section.methodsummary .docstring p.returns { color: #555; font-style: italic; }
.section.methodsummary .docstring .return_types { font-style: normal; }
.section.tags div { clear: both; }
.section.tags h2 { display: none; }
.section.tags h3 { font-size: 1.0em; margin-top: 3px; }
.section.tags dl { margin-left: 2em; }
.section.methodmissing p.note { font-style: italic; }
.section.constructor p.inherited_msg { font-style: italic; }
.included h1, .inherited h1 { font-size: 1em !important; border: 0; margin: 0; padding: 5px; border-bottom: 1px solid #ccc; }
.included div, .inherited div { color: #444; margin: 1.5em 0; width: 47%; border: 1px solid #ccc; float: left; margin-right: 12px; }
.included p .name, .inherited p .name { font-family: monospace; }
.included p, .inherited p { margin: 5px; }
