<div id="footer">
  Generated on <%= Time.now.strftime("%c") %> by 
  <a href="http://yard.soen.ca" title="Yay! A Ruby Documentation Tool">yard</a>
  <%= YARD::VERSION %> (ruby-<%= RUBY_VERSION %>).
</div>
