<div class="included">
  <% included_meths_by_module do |klass, meths| -%>
    <h1><%= visibility.to_s.capitalize %> <%= scope.to_s.capitalize %> Methods Included from <%= linkify klass %></h1>
    <p><%= format_object_name_list meths %></p>
  <% end -%>
</div>