<div class="inherited">
  <% inherited_meths_by_class do |klass, meths| -%>
    <h1><%= visibility.to_s.capitalize %> <%= scope.to_s.capitalize %> Methods Inherited from <%= linkify klass %></h1>
    <p><%= meths.sort_by {|c| c.name.to_s }.map {|c| linkify(c, c.name) }.join(", ") %></p>
  <% end -%>
</div>