<% if object.has_tag?(:example) %>
<div class="examples">
  <% if object.tags(:example).size == 1 %>
    <h3>Example: <small><%= object.tag(:example).name %></small></h3>
    <div class="docstring">
      <pre class="code"><%= html_syntax_highlight object.tag(:example).text %></pre>
    </div>
  <% else %>
    <h3>Examples</h3>
    <% object.tags(:example).each do |tag| %>
    <dl>
      <dt><%= tag.name %></dt>
      <dd class="docstring">
        <pre class="code"><%= html_syntax_highlight tag.text %></pre>
      </dd>
    </dl>
    <% end %>
  <% end %>
</div>
<% end %>