<div class="included">
  <% included_constants_by_module do |klass, consts| -%>
  <div>
    <h1>Constants Included from <%= linkify klass %></h1>
    <p><%= format_object_name_list consts %></p>
  </div>
  <% end -%>
</div>
<div class="clear"></div>