<div class="inherited">
  <% inherited_constants_by_class do |klass, consts| -%>
  <div>
    <h1>Constants Inherited from <%= linkify klass %></h1>
    <p><%= format_object_name_list consts %></p>
  </div>
  <% end -%>
</div>