<div class="section <%= generator_name %>">
  <strong>All Included <%= "Singleton Class" if scope == :class %> Modules:</strong>
  <p><%= object.mixins(scope).map {|o| linkify o }.join(", ") %></p>
</div>
<hr />
