<div class="section <%= generator_name %>">
  <strong><%= scope == :instance ? "Included" : "Extended" %> Modules:</strong>
  <p><%= object.mixins(scope).map {|o| linkify o }.join(", ") %></p>
</div>
<hr />
