<h1>Documentation for <%= h object.path %></h1>

<dl class="general_info">
<% if object.file %>
  <dt>File:</dt>
  <dd><%= h object.file %></dd>
<% end %>
  <dt>Type:</dt>
  <dd>
    <%= h(object.tag(:return) && object.tag(:return).type ? object.tag(:return).type : "undefined") %>
  </dd>
  <dt>Visibility:</dt>
  <dd><%= object.visibility %></dd>
</dl>

