#nav ul { list-style: none; padding: 0; margin: 0; }
#nav ul li { white-space: nowrap; }
#nav li em { font-size: 0.9em; color: #999; }
#nav h1 { font-size: 1.2em; }
.topdoc * dt {
  font-weight: bold;
}
.section.tags {
  margin-left: 37px;
}
.section.tags * dt {
  font-weight: bold;
}
h1 { color: #000; }
td { padding: 3px; }
.section.source .source_code { display: none; }
.section.attributes tt { line-height: 20px; }
.section.mixins p { margin-left: 20px; }
.section.method p { margin-left: 36px; }
.section.source p { margin-left: 0; }
#initialize-instance_method h3 { display: none; }
#method_missing-instance_method h3 { display: none; }
