<div class="section <%= generator_name %>">
  <ul>
  <%= 
    object.inheritance_tree.reverse.map {|o| 
      "<li>" + (o == object ? o.path : linkify(o)) + "</li>" }.join("<ul>") 
  -%>
  <%= "</ul>" * object.inheritance_tree.length %>
</div>