<div class="see">
  <h3>See Also:</h3>
  <dl>
    <dt></dt>
    <dd>
      <span class='desc'>
        <%= object.tags(:see).map {|t| "<tt>" + linkify(t.name, t.text || t.name) + "</tt>" }.join(", ") %>
      </span>
    </dd>
  </dl>
</div>