<% if object.has_tag?(:see) %>
  <h3>See Also:</h3>
  <ul class="see">
    <% for tag in object.tags(:see) %>
      <li>
        <tt><%= linkify(tag.name, tag.text || tag.name) %></tt>
        <%= "&mdash;" + htmlify_line(tag.text) if tag.text %>
      </li>
    <% end %>
  </ul>
<% end %>