<div class='section signature'>
  <tt class='def'>
    <span class='return_types'><%= format_return_types tag %></span>
    <span class='name'><%= tag.name %></span><span class='args'><%= format_args tag %></span>
    <span class='block'><%= format_block tag %></span>
  </tt>
</div>
