<meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>" />
<title><%= @page_title %></title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/autocomplete.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/app.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/live.js"></script>
<script type="text/javascript" charset="utf-8">
  library = '<%= base_path(router.list_prefix) %>';
</script>
